HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.env
/config/consul/data/checkpoint-signature
/config/consul/data/serf/local.snapshot
/config/consul/data/node-id
/config/consul/data/raft/peers.info
/config/consul/data/raft/raft.db
/config/consul/data/serf/remote.snapshot
/config/consul/data/server_metadata.json
/config/consul/data/raft/snapshots/4-16384-1706780528482/meta.json
/config/consul/data/raft/snapshots/4-16384-1706780528482/state.bin
